CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/tests/cmake-build-debug/
/tests/cmake-build-debug-arm/
/tests/cmake-build-release/
/tests/cmake-build-release-arm/
/library/cmake-build-debug/
/library/cmake-build-debug-arm/
/library/cmake-build-release/
/library/cmake-build-release-arm/
/notes/
/venv/
/docs/latex/
/docs/html/
/docs/xml/
/docs/sphinx/build/
/library/sources/
